body {
    font-size: 18px;
    font-weight: 100;
}

.topText {
    height:0;
    width:0;
}

h1 {
    color:black;
    letter-spacing: 0.5rem;
    text-transform:uppercase;
    font-family:'Fraunces', serif;
    font-weight: 900;
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    display:inline-flex;
}



#topNavbar .nav-link {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    text-align:center;
}

#topNavbar .nav-link span {
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    color: black;
    background-color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
}

#topNavbar .nav-link span:active {
    color:white;
    background-color: lightblue;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}


p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
