

body {
    font-size: 18px;
    font-weight: 100;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

.topText {
    height:0;
    width:0;
}

.big-orange, .textimg-section {
    position: relative;
}


.arrow-down {
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

.white-text {
    max-width: 364px;
}


.text-logo {
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%, -50%);
}

.textimg-text {
    position:absolute;
    width: 100%;
    max-width: 420px;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
}

.fraunces-7 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.fraunces-9 {
    font-family:'Fraunces', serif;
    font-weight: 900;
}

.barlow-6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.dark-grayish-blue {
    color: hsl(232, 10%, 55%);
}

.dark-moderate-cyan {
    color: hsl(168, 34%, 41%);
}

h1 {
    color:black;
    letter-spacing: 0.5rem;
}

#topNavbar .navbar {
    position: absolute;
}

#topNavbar .nav-link {
    color: white;
    text-align:center;
}

.contract {
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    color: black;
    background-color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
}

#topNavbar .nav-link .contract:active {
    color:white;
    background-color: lightblue;
}


.client-title {
    letter-spacing: 8px;
    padding-bottom: 80px;
}

.client-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.footer {
    background-color: hsl(168, 60%, 73%);
}

.sunny-logo {
    padding-top:80px;
    width: 150px;
    filter: invert(47%) sepia(14%) saturate(1028%) hue-rotate(132deg) brightness(89%) contrast(88%);
}

.footer-text {
    padding-top: 40px;
}

@media screen and (max-width: 768px) {
    
    .egg-transform {
        order: 1;
    }
    .text-transform {
        order: 2;
    }
    .white-text {
        text-align: center;
        padding: 60px 0 60px;
    }
    .contract {
        background: gold;
    }
    .nav-txt {
        color:hsl(232, 10%, 55%);
    }
    .navbar-nav {
        background: white;
    }
}