body {
    font-size: 18px;
    font-weight: 100;
}

#topNavbar .nav-link {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    text-align:center;
}

#topNavbar .nav-link span {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-transform: uppercase;
}

#topNavbar .nav-link span:active {
    color:white;
    background-color: lightblue;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}


p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
